.backend{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.backend_title{

    margin-top: 150px;
    width: 748px;
    height: 150px;
    background: #4B4B4B;
    border-radius: 12px;
    display: flex;
    color: white;
    font-size: 16px;
}
.data{
    margin:10px 10px;
    background: #2A2A2A;
    border: 1px solid #FFFFFF;
    border-radius: 10px;

}
.title{
    margin-left: 50px;
}
.price{
    width: 112px;
    height: 44px;
    background: #40005D;
    border: 1px solid #FFFFFF;
    border-radius: 10px;
}