*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.block_sigIn{
    margin-top: 150px;
    /*margin-left: -780px;*/
    display: flex;
    justify-content: center;
    align-items: center;
}
.block {
    width: 780px;
    height: 287px;
    background: #AD9BE9;
    display: flex;
    gap: 20px;
    padding: 20px;
    flex-wrap:wrap;
    border-radius: 10px;
}
.btns {
    margin-top: 50px;
    margin-left: 30px;
    display: flex;
    gap: 20px;

}